/* reactive color */
.Root__now-playing-bar:has(~ .Root__right-sidebar>aside:not([aria-label*="Now playing view"])) {
	background: var(--background-base);
}
.Root__now-playing-bar:has(~ .Root__right-sidebar>aside[aria-label*="Now playing view"]) {
	background: var(--current-album-color-d5);
}
.Root__right-sidebar>aside[aria-label*="Now playing view"] {
	background: linear-gradient(to bottom, var(--current-album-color) 0%, var(--current-album-color-d7) 100%) !important;
}



/* reactive color -- all panels colored 
.Root__now-playing-bar { background: var(--current-album-color-d5); }
.Root__right-sidebar>aside { background: linear-gradient(to bottom, var(--current-album-color) 0%, var(--current-album-color-d6) 100%) !important; }
*/